# Directories #
/build/**/**/**
**/build/**/**/**
/bin/
/.gradle/
target/
# OS Files #
.DS_Store
*.class
# Package Files #
*.jar
*.war
*.ear
*.db
######################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
######################
# OSX
######################
.DS_Store
.svn
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
######################
# Eclipse
######################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath 
alf_data_dev/
/.idea/
/.iml/
*.iml
*.imp
/.iml
/test-output/
test-output/
rebel.xml
.vagrant
D_*
SEANPROGS
LFTEST
*.O
MESSAGES
HS_FILE_A000
*/LF_FINS/ACCTMAP_INS
*/LF_FINS/ADDRESS_INS
*/LF_FINS/AGENTTYPE_INS
*/LF_FINS/AGENT_CURRENCY_INS
*/LF_FINS/AGENT_ENDORSEMENT_INS
*/LF_FINS/AGENT_INS
*/LF_FINS/AGENT_LOAN_INS
*/LF_FINS/AGENT_LOAN_TP_INS
*/LF_FINS/AGENT_REGION_INS
*/LF_FINS/AMORTISE_FEES_INS
*/LF_FINS/ANNUITY_PAYMENT_INS
*/LF_FINS/APPLICATION_ANNUITY_INS
*/LF_FINS/APPLICATION_ANSWERS_INS
*/LF_FINS/APPLICATION_BENEFICIARY_INS
*/LF_FINS/APPLICATION_INS
*/LF_FINS/APPLICATION_IPAYMENT_INS
*/LF_FINS/APPLICATION_PARTY_INS
*/LF_FINS/BANK_INS
*/LF_FINS/BANK_TRANSACTIONS_INS
*/LF_FINS/BATCH_INS
*/LF_FINS/BENEFICIARY_INS
*/LF_FINS/BILL_TYPE_INS
*/LF_FINS/BONUS_RATE_INS
*/LF_FINS/BRANCH_INS
*/LF_FINS/CCYENTRY_INS
*/LF_FINS/CCYRATES_INS
*/LF_FINS/CITY_INS
*/LF_FINS/CLAIMS_INS
*/LF_FINS/CLAIM_REVIEW_INS
*/LF_FINS/CLAIM_UNDERWRITING_INS
*/LF_FINS/CLIENT_HISTORY_INS
*/LF_FINS/CLIENT_INS
*/LF_FINS/CODES_INS
*/LF_FINS/COINSURANCE_COMPANY_INS
*/LF_FINS/COMMENTRY_INS
*/LF_FINS/COMMISSION_ADJUSTMENTS_INS
*/LF_FINS/COMMRATES_INS
*/LF_FINS/COMMTYPES_INS
*/LF_FINS/COMPANY_INS
*/LF_FINS/CONFIG_INS
*/LF_FINS/CONSULTANT_INS
*/LF_FINS/COUNTRY_INS
*/LF_FINS/COUNTRY_TAX_INS
*/LF_FINS/CURRENCY_INS
*/LF_FINS/CUSTODIAN_INS
*/LF_FINS/CUSTODY_FEE_INS
*/LF_FINS/COUPONS_INS
*/LF_FINS/DATA_FIELDS_MEMBER_LIST_INS
*/LF_FINS/DATA_FIELDS_POLICY_INS
*/LF_FINS/DATA_LOGGING_INS
*/LF_FINS/DATA_MASK_AGENT_INS
*/LF_FINS/DATA_MASK_CLIENT_INS
*/LF_FINS/DATA_MASK_CODES_INS
*/LF_FINS/DATA_MASK_CONFIG_INS
*/LF_FINS/DATA_MASK_FUNDS_INS
*/LF_FINS/DATA_MASK_FUTURE_INS
*/LF_FINS/DATA_MASK_MASTER_INS
*/LF_FINS/DATA_MASK_MEMBER_LIST_INS
*/LF_FINS/DATA_MASK_PLANS_INS
*/LF_FINS/DATA_MASK_POLACCTRN_INS
*/LF_FINS/DATA_MASK_POLICY_INS
*/LF_FINS/DATA_MASK_STATUS_INS
*/LF_FINS/DD_PAYMENT_METHOD_INS
*/LF_FINS/DD_REVERSALS_INS
*/LF_FINS/DD_REVERSALS_ITEM_INS
*/LF_FINS/DEFAULTS_INS
*/LF_FINS/DIAGNOSIS_INS
*/LF_FINS/DOCUMENT_MERGE_INS
*/LF_FINS/DOC_IMAGE_INS
*/LF_FINS/DOC_PROCESS_LIST_INS
*/LF_FINS/ENDORSEMENTS_INS
*/LF_FINS/EVENT_HANDLER_INS
*/LF_FINS/FUNDS_INS
*/LF_FINS/FUND_DISTRIBUTION_INS
*/LF_FINS/FUND_DIVIDEND_INS
*/LF_FINS/FUND_PORTFOLIO_INS
*/LF_FINS/FUND_STATEMENT_INS
*/LF_FINS/FUTURE_INS
*/LF_FINS/GENACCTRN_INS
*/LF_FINS/GENACC_INS
*/LF_FINS/GENLDG_INS
*/LF_FINS/GROUP_BILLING_INS
*/LF_FINS/GROUP_MASTER_INS
*/LF_FINS/GROUP_RENEWAL_INS
*/LF_FINS/HOLIDAYS_INS
*/LF_FINS/INDEX_LIST_INS
*/LF_FINS/INTRATES_DATA_INS
*/LF_FINS/INTRATES_INS
*/LF_FINS/INVESTMENT_LIMITS_INS
*/LF_FINS/IPAYMENT_INS
*/LF_FINS/LANGUAGES_INS
*/LF_FINS/LIFELISTS_INS
*/LF_FINS/LISTBILL_HEADER_INS
*/LF_FINS/LISTBILL_INS
*/LF_FINS/LOAN_INS
*/LF_FINS/LOG_INS
*/LF_FINS/MASTER_INS
*/LF_FINS/MEMBER_CHANGE_INS
*/LF_FINS/MEMBER_LIST_INS
*/LF_FINS/MEMBER_LIST_PENDING_DONE_INS
*/LF_FINS/MESSAGES_INS
*/LF_FINS/MODEMETHODS_INS
*/LF_FINS/NOMLDG_OS_INS
*/LF_FINS/NOTES_INS
*/LF_FINS/OGENT_INS
*/LF_FINS/OSCODE_INS
*/LF_FINS/OVERRIDE_HIERARCHY_INS
*/LF_FINS/PAYMENTS_OUT_INS
*/LF_FINS/PAYMENT_IN_TYPE_INS
*/LF_FINS/PAYMENT_OUT_CASH_INS
*/LF_FINS/PENDING_PRICE_INS
*/LF_FINS/PLANS_CURRENCY_INS
*/LF_FINS/PLANS_INS
*/LF_FINS/POLACCTRN_INS
*/LF_FINS/POLICY_ANSWERS_INS
*/LF_FINS/POLICY_CHARGES_INS
*/LF_FINS/POLICY_EVENTS_INS
*/LF_FINS/POLICY_FEE_STRUCTURE_INS
*/LF_FINS/POLICY_INS
*/LF_FINS/POLICY_SPECIAL_CLAUSE_INS
*/LF_FINS/PROCESS_LOG_INS
*/LF_FINS/PSEUDO_INS
*/LF_FINS/QUESTION_DESCRIPTION_INS
*/LF_FINS/REINSURANCE_INS
*/LF_FINS/REINS_COMPANY_INS
*/LF_FINS/REINS_FINANCE_REPORT_INS
*/LF_FINS/REINS_REPORT_DATA_INS
*/LF_FINS/REINS_SUMMARY_REPORT_INS
*/LF_FINS/REPORTS_INS
*/LF_FINS/REPORT_INS
*/LF_FINS/RESERVE_VALUE_INS
*/LF_FINS/SCHEDULE_INS
*/LF_FINS/SCHEME_RATES_INS
*/LF_FINS/SECURITY_GROUP_INS
*/LF_FINS/SECURITY_INS
*/LF_FINS/SERVICE_LOG_INS
*/LF_FINS/SESSIONLOG_INS
*/LF_FINS/SET_OF_QUESTIONS_INS
*/LF_FINS/SIGNON_INS
*/LF_FINS/SITE_PARAMETERS_INS
*/LF_FINS/SMS_INS
*/LF_FINS/SMS_LOG_INS
*/LF_FINS/SOAP_CALL_INS
*/LF_FINS/SORT_CODE_INS
*/LF_FINS/STATEMENT_INS
*/LF_FINS/STATUS_INS
*/LF_FINS/SUBGROUP_MASTER_INS
*/LF_FINS/SWITCH_REQUEST_INS
*/LF_FINS/SYMB_LIST_INS
*/LF_FINS/SYSTEM_VERSION_INS
*/LF_FINS/SMS_LOGS_INS
*/LF_FINS/SMS_PENDING_INS
*/LF_FINS/SOAP_LOGS_INS
*/LF_FINS/TABLE_LIST
*/LF_FINS/TAX_RATES_INS
*/LF_FINS/TOTAL_VALUES_INS
*/LF_FINS/TRANSLATIONS_INS
*/LF_FINS/TREATY_INS
*/LF_FINS/TRUST_INS
*/LF_FINS/UNITACCTRN_INS
*/LF_FINS/UNITMOVES_INS
*/LF_FINS/UNITPRICE_FIELD_LIST
*/LF_FINS/UNITPRICE_INS
*/LF_FINS/UNITSWITCH_INS
*/LF_FINS/UNIT_FIELD_LIST
*/LF_FINS/UNIT_LINK_QUOTE_INS
*/LF_FINS/UNIT_VALUES_INS
*/LF_FINS/UWRREQ_INS
*/LF_FINS/UWRREQ_STATUS_INS
*/LF_FINS/UWRREQ_TABLE_INS
*/LF_FINS/WEBSITE_INS
*/LF_FINS/WEB_SECURITY_GROUP_INS
*/LF_FINS/WEB_SECURITY_INS
*/LF_FINS/WORKFLOW_INS
*/LF_FINS/WORKFLOW_SCHEDULE_INS
*/LF_FINS/WORKFLOW_TASK_INS
*/LF_FINS/XML_LOG_INS
*/LF_FINS/XML_UPLOAD_DONE_INS
*/LF_FINS/XML_UPLOAD_INS
*/LF_FINS/COMPILE_LIST.TXT
*/LF_FINS/SWITCH_SUSPENSE_INS
*/LF_FINS/BANK_STATEMENT_INS
*/JUSTINPROGS/
*/JUSTINPROGS.O/
*/.idea/
